.top-bar, .top-bar ul {
  background-color: transparent;
}

.top-bar input {
  max-width: none;
  margin-right: 1rem;
}

.input-group{
  margin-bottom: 0;
}
.menu-text{
  color: #8c7d7d;
}
a{
  color: #8c7d7d;
}
input{
  border: none;
  box-shadow: none;
  background-color: rgba(190, 181, 181, 0.08);
  border-radius: 5px;
}

.top-bar-search-button{
  background-color: transparent;
  border: none;
}

.top-bar-search-button::hover{
  color: #8c7d7d;;
}
.text-brown{
  color: #8c7d7d;
}

.fa-search{
  display: table-cell;
  background-color: transparent;
  border: none;
}

.top-bar-search-label{
  background-color: transparent;
  border: none;
}

.avatar{
  width: 80%;
  border-radius: 99px;
  margin: -40px 0;
}

.fa-plus{
  color: #8c7d7d;
  top: -28px;
  right: -34px;
  position: relative;
}

.new-Pin-btn{
  margin: -5px 0 -14px 0;
}

.fa-github {
  top: 3px;
  left: -11px;
  position: relative;
}