<div class="top-bar">
  <nav>
    <section>
      <ul class="menu">
        <li class="large-1 small-1 columns text-left">
          <a href="" class="menu-text">
            {{title}}
          </a>
        </li>
        <li class="large-9 small-9 columns text-center">
          <div class="input-group">
            <span class="input-group-label fa fa-search top-bar-search-label text-white">
            </span>
            <input id= "top-bar-search-input" class="input-group-field" type="text" placeholder='So, What are you looking for?'>
            <div class="input-group-button">
              <input type="submit" class="top-bar-search-button button hollow text-white" value="Search">
            </div>
          </div>
        </li>
        <li class="large-2 small-2 columns text-right"
           [ngClass]="{hide: (userIsAuthenticated | async)}">
          <ul class="dropdown menu text-center" data-dropdown-menu>
            <li>
              <a href="#">Login</a>
              <ul class="menu vertical">
                <li class="text-left">
                  <a (click)="login('google')">
                    <i class="fa fa-google-plus-square fa-2x text-left alert"></i>
                    <strong>Google</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="large-2 small-2 columns text-right"
            [ngClass]="{hide: !(userIsAuthenticated | async)}">
          <ul class="dropdown menu text-center" data-dropdown-menu>
            <li>
              <a href="#">
                <img aria-hidden=true [src]="(user | async)?.avatar" class="avatar"/>
                {{(user | async)?.name}}
              </a>
              <ul class="menu vertical">
                <li class="text-left">
                  <a (click)="logout()">
                    <strong>Logout</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>