<div class="top-bar">
  <nav>
    <section>
      <ul class="menu">
        <li class="large-1 small-1 columns text-left">
          <a [routerLink]="['/']" class="menu-text">
            {{title}}
          </a>
        </li>
        <li class="large-8 small-8 columns text-center">
          <div class="input-group">
            <span class="input-group-label top-bar-search-label text-brown">
            </span>
            <tag-input
              [(ngModel)]='items'
              placeholder="+ more"
              secondaryPlaceholder="Search"
              maxItems="5"
              separatorKeys="[32]"
              (onAdd)="onItemAdded($event)"
              (onRemove)="onItemRemoved()"
            ></tag-input>
            <!--<input id= "top-bar-search-input" class="input-group-field" type="text" placeholder='So, What are you looking for?'>
            <div class="input-group-button">
              <input type="submit" class="top-bar-search-button text-brown" value="Search">
            </div>-->
          </div>
        </li>
        
        <li class="large-2 small-2 columns text-right icons-list">
          <div class="large-6 small-6">
            <a href="https://github.com/aviabird/pinterest">
              <span class="fa fa-github fa-2x"  aria-hidden="true"></span>
            </a>
          </div>

          <div class="large-6 small-6">
            <a [routerLink]="['pins', 'new']" class="new-Pin-btn" *ngIf="(userIsAuthenticated | async)">
              <span class="fa fa-thumb-tack fa-2x"></span>
            </a>

            <a (click)="login('google')" class="new-Pin-btn" *ngIf="!(userIsAuthenticated | async)">
              <span class="fa fa-thumb-tack fa-2x"
                data-tooltip aria-haspopup="true"
                data-disable-hover="false" tabindex="1" title="Login to add a Pin"></span>
            </a>
          </div>
        </li>

        <li class="large-1 small-1 columns text-right"
           [ngClass]="{hide: (userIsAuthenticated | async)}">
          <ul class="dropdown menu text-center" data-dropdown-menu>
            <li>
              <a [routerLink]="['/']">Login</a>
              <ul class="menu vertical">
                <li class="text-left">
                  <a (click)="login('google')">
                    <i class="fa fa-google-plus-square fa-2x text-left alert"></i>
                    <strong>Google</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        
        <li class="large-1 small-1 columns text-right"
            [ngClass]="{hide: !(userIsAuthenticated | async)}">
          <ul class="dropdown menu text-center" data-dropdown-menu>
            <li>
              <img aria-hidden=true [src]="(user | async)?.avatar" class="avatar"/>
              <ul class="menu vertical">
                <li class="text-left">
                  <a (click)="logout()">
                    <strong>Logout</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>