<a href="https://github.com/aviabird/pinterest"><img style="position: absolute; top: 3.5rem; z-index: 1; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>

<div class="top-bar">
  <nav>
    <section>
      <ul class="menu">
        <li class="large-1 small-1 columns text-left">
          <a [routerLink]="['/']" class="menu-text">
            {{title}}
          </a>
        </li>
        <li class="large-9 small-9 columns text-center">
          <div class="input-group">
            <span class="input-group-label fa fa-search top-bar-search-label text-white">
            </span>
            <input id= "top-bar-search-input" class="input-group-field" type="text" placeholder='So, What are you looking for?'>
            <div class="input-group-button">
              <input type="submit" class="top-bar-search-button button hollow text-white" value="Search">
            </div>
          </div>
        </li>
        <li class="large-2 small-2 columns text-right"
           [ngClass]="{hide: (userIsAuthenticated | async)}">
          <ul class="dropdown menu text-center" data-dropdown-menu>
            <li>
              <a href="#">Login</a>
              <ul class="menu vertical">
                <li class="text-left">
                  <a (click)="login('google')">
                    <i class="fa fa-google-plus-square fa-2x text-left alert"></i>
                    <strong>Google</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="large-2 small-2 columns text-right"
            [ngClass]="{hide: !(userIsAuthenticated | async)}">
          <ul class="dropdown menu text-center" data-dropdown-menu>
            <li>
              <a href="#">
                <img aria-hidden=true [src]="(user | async)?.avatar" class="avatar"/>
                {{(user | async)?.name}}
              </a>
              <ul class="menu vertical">
                <li class="text-left">
                  <a (click)="logout()">
                    <strong>Logout</strong>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>