<pin-modal [title]='title' klass='pinEditModal' size='large'>
  <div class="large-4 columns callout">
    <legend>Preview Pin</legend>
    <div class="pin-image">
      <div class="pin-url-wrapper">
        <a [href]="url" class="pin-url" target="_blank">
          <strong>
            Learn More Here
          </strong>
        </a>
      </div>
      <img [src]="image_url" alt="Image Preview">
    </div>

    <h6>
      <strong>
        {{name}}
      </strong>
    </h6>

    <p>
      <small class="pin-desc">
        {{description}}
      </small>
    </p>

    <p class="user-profile-link">
      <small href="#">
        <img aria-hidden=true [src]="(authUser | async)?.avatar" class="avatar"/>
        {{(authUser | async)?.name | uppercase}}
      </small>
    </p>
  </div>

  <form [formGroup]="pinForm" class="large-8 columns" (ngSubmit)="onPinSave()">
    <input type="hidden" formControlName="user_id" [ngModel]="(authUser | async).id">
    
    <div class="input-group">
      <input
        type="text"
        id="pin-name"
        class="input-group-field"
        formControlName="name"
        [(ngModel)]="name"
        placeholder="Title">
    </div>

    <div class="input-group">
      <input
        type="text"
        formControlName="image_url"
        [(ngModel)]="image_url"
        placeholder="Image Url"
        class="input-group-field">
    </div>

    <div class="input-group">
      <input
        type="text"
        formControlName="url"
        placeholder="Work/Blog Url"
        [(ngModel)]="url"
        class="input-group-field">
    </div>

    <div class="input-group">
      <textarea
        type="text"
        formControlName="description"
        placeholder="Small Description"
        [(ngModel)]="description"
        class="input-group-field">
      </textarea>
    </div>

    <div class="input-group">
      <input
        type="text"
        formControlName="tags"
        placeholder="Tags"
        class="input-group-field">
    </div>

    <div class="row">
      <div class="text-right">
        <div class="button-group">
          <button type="submit" class="large hollow success button" [disabled]="!pinForm.valid">
            Save
            <span class="fa fa-save"></span>
          </button>
          <button class="large hollow alert button" (click)="onCancel()">
            Cancel
            <span class="fa fa-times"></span>
          </button>
        </div>
      </div>
    </div>
    
  </form>
</pin-modal>