<pin-modal title='' klass='pinModal-{{pinIndex}}' size='tiny'>
  <div *ngIf="(pin | async)">
    <h5 href="(pin | async).url">
      {{(pin | async).name}}
    </h5>
    
    <div class="pin-image text-center">
      <img [src]="(pin | async).imagePath" alt="" width="500">
    </div>

    <br>
    <small>
      {{(pin | async).description}}
    </small>
    
    <h5>
      From {{(user | async)?.name}}
      <img aria-hidden=true [src]="(user | async)?.avatar" class="avatar"/>
    </h5>
    
    <hr>

    <div class="input-group comment-wrapper" *ngFor="let comment of comments | async">
      <span class="input-group-label comment-user-img">
        <img aria-hidden=true [src]="(getUser(comment.userId) | async)?.avatar" class="avatar"/>
      </span>
      <div class="input-group-field comment-user-wrapper">
        <h6>
          <strong class="text-left">
            {{(getUser(comment.userId) | async)?.name}}
          </strong>

          <small class="text-right">
            <i class="text-left">
              {{comment.createdAt | date:fullDate}}
            </i>
            
            <button
              class='delete-comment'
              (click)="onCommentDelete(comment.id)"
              *ngIf="(authUser | async).id == comment.userId">
              <i class="fa fa-times"></i>
            </button>
          </small> 
        </h6>

        <p>
          {{comment.msg}}
        </p>
        
      </div>
      <br>
    </div>
    
    <form [formGroup]="commentForm" (ngSubmit)="onCommentSave()" *ngIf="userIsAuthenticated | async">
      <div class="input-group">
        <span class="input-group-label comment-user-img">
          <img aria-hidden=true [src]="(authUser | async)?.avatar" class="avatar"/>
        </span>
        <textarea
          type="text"
          id="msg"
          class="input-group-field"
          formControlName="msg">
        </textarea>
        <input type="hidden" formControlName="userId" [ngModel]="(authUser | async).id">
        <input type="hidden" formControlName="pinId" [ngModel]="(pin | async).id">
      </div>
      <div class="row">
        <div class="large-10 large-offset-1">
          <div class="button-group">
            <button type="submit" class="primary button" *ngIf="commentForm.valid">Save</button>
            <a class="warning button" (click)="onCancel()" *ngIf="commentForm.valid">Cancel</a>
          </div>
        </div>
      </div>
    </form>


  </div>

  <div>
    <h4 class="text-center" *ngIf="!(pin | async)">Loading ...</h4>
  </div>
</pin-modal>