.brick {
  height: auto;
  width: 18vw;
  display: inline-block;
}

@media screen and (max-width: 1328px) {
    .brick {
      height: auto;
      width: 23vw;
      display: inline-block;
    }
}

@media screen and (max-width: 1024px) {
    .brick {
      height: auto;
      width: 30vw;
      display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .brick {
      height: auto;
      width: 93vw;
      display: inline-block;
    }
}

.dashboard-grid{
  margin: 1% 3.5vw;
}


/*Time line*/

.timeline-item {
  background: #fff;
  padding: 12px;
  margin: 0 auto;
  max-width: 18vw;
  min-height: 200px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 210px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.image {
  top: -10px;
  left: -12px;
  right: 0;
  height: 157px;
  background: none;
  border: 23px solid white;
  border-radius: 34px;
  width: 18vw;
}

.background-masker.header-bottom {
  top: 138px;
  left: 0;
  right: 0;
  height: 10px;
}

.background-masker.paragraph1-bottom{
  top: 148px;
  right: 0;
  height: 9px;
  width: 60%;
}

.background-masker.paragraph2-bottom{
  top: 157px;
  left: 0;
  right: 0;
  height: 6px;
}


.background-masker.paragraph3-bottom{
  top: 163px;
  right: 0;
  height: 9px;
  width: 40%;
}

.background-masker.paragraph4-bottom{
  top: 172px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.paragraph5-bottom{
  top: 178px;
  right: 0;
  height: 9px;
  width: 47%;
}

.background-masker.paragraph6-bottom{
  top: 187px;
  left: 0;
  right: 0;
  height: 6px;
}