<div class="dashboard-grid large-12 columns" *ngIf="!(pins | async).length">
  <masonry id="container">
    <masonry-brick class="brick" *ngFor="let item of createRange(15)">
      <div class="timeline-wrapper">
        <div class="timeline-item">
          <div class="animated-background">
              <div class="background-masker image"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker paragraph1-bottom"></div>
              <div class="background-masker paragraph2-bottom"></div>
              <div class="background-masker paragraph3-bottom"></div>
              <div class="background-masker paragraph4-bottom"></div>
              <div class="background-masker paragraph5-bottom"></div>
              <div class="background-masker paragraph6-bottom"></div>
          </div>
        </div>
      </div>
    </masonry-brick>
  </masonry>
</div>

<div class="dashboard-grid large-12 columns"
  infinite-scroll
  [infiniteScrollDistance]="10"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()">
  <masonry id="container" [useImagesLoaded]="true">
    <masonry-brick class="brick" *ngFor="let pin of pins | async">
      <pin-pin-item [pin]="pin"></pin-pin-item> 
    </masonry-brick>
  </masonry>
</div>

<router-outlet></router-outlet>