.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  margin-top: 50vh;
}

.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p {
  font-weight: 300; 
  font-size: .8rem;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid scale-color(#fff);
    min-height: 280px;
  }
}

.footer-links {
  list-style-type: none;
}

.footer-links a {
  color: #fff;
  font-weight: 300;
  font-size: .8rem;
}
.footer-links li {
  margin-top: .5rem;
}
