<div class="footer">
  <div class="row">
    <div class="small-12 medium-4 large-5 columns">
      <i class="fa fa-laptop fa-4"></i>
      <p>Built with love <span class="fa fa-heart"></span> <a href="https://medium.com/aviabird">@aviabird</a></p>
      <p>
        We’re excited to start this new adventure, and work more closely with enterprise teams working on Angular 2/Ruby on rails/Phoenix Framework/GoLang applications.
        Think we can help your team? Reach out at hello@aviabird.com
      </p>
    </div>

    <div class="small-12 medium-5 large-5 columns">
      <i class="fa fa-code fa-4"></i>
      <h4>WHO AM I?</h4>
      <p>
        I'm a Rubyist from Pune. Founder of <a href="https://medium.com/aviabird/introducing-aviabird-technologies-929db42e342d#.z1h59tnkw">Aviabird Techonolgy</a>.
      </p>
    </div>

    <!--<div class="small-6 medium-3 large-2 columns">
      <h4>Work With Me</h4>
      <ul class="footer-links">
        <li><a href="#">What I Do</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      </ul>
    </div>-->
    <div class="small-6 medium-3 large-2 columns">
      <h4>Follow Me</h4>
      <ul class="footer-links">
        <li><a href="https://github.com/pkrawat1">GitHub</a></li>
        <li><a href="https://www.facebook.com/pkrawat1">Facebook</a></li>
        <li><a href="https://twitter.com/pkrawat1">Twitter</a></li>
        <li><a href="https://www.facebook.com/aviabird">AviaBird Technology</a></li>
        <li><a href="https://www.facebook.com/AngularCasts/">AngularCasts</a></li>
      </ul>
    </div>
  </div>
</div>